*{
  margin: 0;
  padding: 0;
}

:root{
  /*Colors*/
  --dark-grey: #1E1E1E ;
  --grey:#2d2d2d;
  --light-grey:#4e4e4e;
  --light-hover-gray:#636363;

  --wight: #FFFFFF;
  
  /*Fonts*/
  --big-button-and-output: 400 30px/34px 'Times';
  --small-button: 400 16px/18px 'Times';
  --description: 400 18px/21px 'Times';

  /*Other*/
  --border-radius-small: 20px;
  --border-radius-big: 50px;

}

body{
background-color:var(--dark-grey);
text-decoration: none;

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

color: var(--wight);
}

.RandomSortBlock{
border: 1px solid var(--grey);
border-radius: var( --border-radius-small);
background-color: var(--grey);

display: flex;
flex-direction:column;
align-items: center;
gap: 20px;

text-align: center;
padding: 57px 74px;
}

.RandomHeader {
font:var(--big-button-and-output);
}

.ButtonSort{
border: 1px solid var(--dark-grey);
border-radius: var(--border-radius-big);
background-color: var(--dark-grey);
color:var(--wight);
font:var(--big-button-and-output);

padding: 32px 107px;
}
.ButtonSort:hover{
background-color: var(--light-hover-gray);
}

.NumberBlock{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 10px;
}

.Number{
border: 1px solid var(--light-grey);
border-radius: var(--border-radius-small);
color:var(--wight);
font:var(--big-button-and-output);

box-sizing: border-box; 
max-width: 500px;
padding: 7px 44px;
white-space:pre-line;
}

.DropList{
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;

background: var(--light-grey);
border-color: var(--light-grey);
border-radius: var(--border-radius-big);
padding: 8px 16px;
color: var(--wight);
font:var(--small-button);
text-align: center;


width: auto;
min-width: 200px;
}
.DropList:hover{
background: var(--light-hover-gray);
}
.DroListContenier{
position: relative;
display: inline-block;
}

.DroListContenier::after {
content: 'â–¿';
position: absolute;
top: 50%;
left: 8px;
transform: translateY(-50%);
pointer-events: none;
}
.SortDescription{
font: var(--description);
}